<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Swiper CDN for carousell -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
        .carousel{
            position: relative; /* Relative positioning */
            overflow: hidden;
        }
        .swiper-container {
            height: 10%;
            width: 90%;
            overflow: hidden; /* Hide overflow */
        }
        .swiper-wrapper{
            aspect-ratio: 8/3;
        }
        /* Adjusting styles for nav buttons */
        .swiper-button-next,
        .swiper-button-prev {
            color:black;
            position: absolute;
            transform: translateY(-50%);
        }
        /* .swiper-button-next {
            image: url('https://img.icons8.com/?size=100&id=100715&format=png&color=000000'); 
        }

        .swiper-button-prev {
            image: url('https://img.icons8.com/?size=100&id=100697&format=png&color=000000'); 
        } */

        .swiper-pagination {
            position: relative; /* Relative positioning */
            margin-top: 2%; /* Adjust margin as needed */
        }

        
    </style>

    <title>Home</title>
</head>
<body>
    <div class="flex flex-col min-h-screen bg-amber-50 bg-cover">
        <!-- Navigation bar -->
        <nav class="flex items-center justify-between p-3 w-full" style="background-color: #041562;">
            <div class="flex items-center space-x-4">
                <img src="/images/logo.png" class="h-14 w-auto" alt="Logo"> 
            </div>
            <div class="flex items-center justify-center space-x-4">
                <a href="/fashion" class="p-4 text-white text-xl">Fashion</a>
                <a href="/electronics" class="p-4 text-white text-xl">Electronics</a>
                <a href="/lifestyle" class="p-4 text-white text-xl">Lifestyle</a>
                <a href="/recreation" class="p-4 text-white text-xl">Recreation</a>
                <a href="/collectibles" class="p-4 text-white text-xl">Collectibles</a>
                <a href="/resources" class="p-4 text-white text-xl">Resources</a>
                <a href="/others" class="pl-4 pr-3 py-4 text-white text-xl">Others</a>
                <a href="/profile" class="py-3"><img src="https://img.icons8.com/?size=100&id=85050&format=png&color=FFFFFF" alt="Profile Icon" class="h-10 w-10"></a>
                <a href="/profile/favorites" class="py-3"><img src="https://img.icons8.com/?size=100&id=85038&format=png&color=FFFFFF" alt="Favorites Icon" class="h-10 w-10"></a>
                <button class="px-4 py-2 text-white rounded w-20" onclick="window.location.href='/listProduct'" style="background-color: #DA1212">List</button> 
            </div>
        </nav>
        <!-- End of Navigation bar -->

        <!-- Carousell  -->
        <div class = "flex justify-center mt-6 carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/donation.png" alt="Slide 1" class="w-full">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://via.placeholder.com/800x300" alt="Slide 2" class="w-full">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://via.placeholder.com/800x300" alt="Slide 3" class="w-full">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!-- End of Carousell -->
        <br>
        <!-- Categories -->
        <h1 class="text-2xl md:text-3xl leading-normal mb-4 ml-10">Categories</h1>
        <div class="flex overflow-x-auto space-x-2 p-4 justify-center">
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/fashion'">
                <img src="https://img.icons8.com/?size=100&id=110247&format=png&color=FFFFFF" alt="Fashion Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Fashion
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/electronics'">
                <img src="https://img.icons8.com/?size=100&id=11409&format=png&color=FFFFFF" alt="Electronics Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Electronics
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/lifestyle'">
                <img src="https://img.icons8.com/?size=100&id=9783&format=png&color=FFFFFF" alt="Lifestyle Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Lifestyle
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/recreation'">
                <img src="https://img.icons8.com/?size=100&id=11630&format=png&color=FFFFFF" alt="Recreation Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Recreation
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/collectibles'">
                <img src="https://img.icons8.com/?size=100&id=63372&format=png&color=FFFFFF" alt="Collectibles Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Collectibles
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/resources'">
                <img src="https://img.icons8.com/?size=100&id=9492&format=png&color=FFFFFF" alt="Resources Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Resources
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/others'">
                <img src="https://img.icons8.com/?size=100&id=114595&format=png&color=FFFFFF" alt="Others Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Others
            </button>
        </div>
        <!-- End of div for categories -->     

        <!-- Start of Listings -->
        <h1 class="text-2xl md:text-3xl leading-normal mb-4 mt-24 ml-10">Newly listed</h1>
        <div>

        </div>
        <!-- End of Listings -->
    </div>


    <!-- Footer -->
    <footer class="mt-auto w-full text-white py-4 flex flex-col items-center" style="background-color: #0d4aa6;">
        <div class="w-full flex justify-between items-center px-10">
            <h1 class="text-2xl md:text-3xl"> SMart</h1>
            <div class="flex space-x-4 pr-12">
                <a href="/" class="text-white text-xl">About us</a>
                <a href="/" class="text-white text-xl">Contact us</a>
            </div>
        </div>
        <div class="w-full flex justify-between px-10 mt-4">
            <div class="flex space-x-4">
                <a href="https://twitter.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=fJp7hepMryiw&format=png&color=FFFFFF" alt="Twitter Icon" class="h-10 w-10">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=32292&format=png&color=FFFFFF" alt="Instagram Icon" class="h-10 w-10">
                </a>
                <a href="https://facebook.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=FFFFFF" alt="Facebook Icon" class="h-10 w-10">
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF" alt="LinkedIn Icon" class="h-10 w-10">
                </a>
            </div>
        </div>
        <br>
        <p class="text-xs">&copy; 2024 SMart. All rights reserved</p>

    </footer>
    <!-- End of footer -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(".logoutBtn").click(function () {
            alert("Logged out");
        });
        //Javascript for carousell
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>
    
</body>
</html>

