<nav class="flex items-center justify-between p-3 w-full" style="background-color: #041562;">
    <div class="flex items-center space-x-4">
        <a href="/">
            <img src="/images/logo.png" class="h-14 w-auto" alt="Logo">
        </a>
    </div>
    <div class="flex items-center justify-center space-x-4">
        <a href="/category/fashion" class="p-4 text-white text-xl">Fashion</a>
        <a href="/category/electronics" class="p-4 text-white text-xl">Electronics</a>
        <a href="/category/lifestyle" class="p-4 text-white text-xl">Lifestyle</a>
        <a href="/category/recreation" class="p-4 text-white text-xl">Recreation</a>
        <a href="/category/collectibles" class="p-4 text-white text-xl">Collectibles</a>
        <a href="/category/resources" class="p-4 text-white text-xl">Resources</a>
        <a href="/category/others" class="pl-4 pr-3 py-4 text-white text-xl">Others</a>
        <a href="/profile?section=listings" class="py-3"><img src="https://img.icons8.com/?size=100&id=85050&format=png&color=FFFFFF" alt="Profile Icon" class="h-10 w-10"></a>
        <a href="/profile?section=favourites" class="py-3"><img src="https://img.icons8.com/?size=100&id=85038&format=png&color=FFFFFF" alt="Favourites Icon" class="h-10 w-10"></a>
        <button class="px-4 py-2 mr-5 w-20 text-white rounded" onclick="window.location.href='/product/new'" style="background-color: #DA1212">List</button> 
    </div>
</nav>