<!-- footer.ejs -->

<footer class="mt-auto w-full text-white pt-8 pb-4 bg-[#041561]">
    <!-- to align  content in a column in small screens and row on larger screens -->
    <div class="w-full flex flex-col sm:flex-row justify-between items-center px-4 sm:px-10 space-y-4 md:space-y-0">
        
        <!-- left side for Social media icons -->
        <div class="flex space-x-4 justify-center md:justify-start">
            <!-- Twitter icon -->
            <a href="https://twitter.com" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=fJp7hepMryiw&format=png&color=FFFFFF" alt="Twitter Icon" class="h-8 w-8 md:h-10 md:w-10">
            </a>
            <!-- Instagram icon -->
            <a href="https://instagram.com" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=32292&format=png&color=FFFFFF" alt="Instagram Icon" class="h-8 w-8 md:h-10 md:w-10">
            </a>
            <!-- Facebook icon -->
            <a href="https://facebook.com" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=FFFFFF" alt="Facebook Icon" class="h-8 w-8 md:h-10 md:w-10">
            </a>
            <!-- LinkedIn icon -->
            <a href="https://linkedin.com" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF" alt="LinkedIn Icon" class="h-8 w-8 md:h-10 md:w-10">
            </a>
        </div>

        <!-- right side for Navigation links -->
        <div class="flex space-x-4 justify-center md:justify-end">
            <a href="/" class="text-white text-lg md:text-xl">About us</a>
            <a href="/" class="text-white text-lg md:text-xl">Contact us</a>
        </div>
    </div>
    
    <!-- Footer copyright text -->
    <p class="text-xs text-center mt-4">&copy; 2024 SMart. All rights reserved</p>
</footer>
